In [5]:
import pandas as pd
import numpy as np
technologies= ({
    'Courses':["SPARK","PYSPARK","HADOOP","PANDAS"],
    'Fee' :['22000','25000','24000','26000'],
    'Duration':['30days','50days','40days','60days'],
    'Discount':['1000','2300','2500','1400']
              })
df = pd.DataFrame(technologies)
print(df)

# convert lowercase column use str.lower()
df['Courses'] = df['Courses'].str.lower()
print(df)

# convert lowercase column use apply()
df['Courses'] = df['Courses'].apply(str.lower)
print(df)

# Use apply() & lambda function
df['Courses'].apply(lambda x: x.lower())
print(df)

# Convert pandas column to lowercase use map()
df['Courses'] = df['Courses'].map(str.lower)
print(df)

   Courses    Fee Duration Discount
0    SPARK  22000   30days     1000
1  PYSPARK  25000   50days     2300
2   HADOOP  24000   40days     2500
3   PANDAS  26000   60days     1400
   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400
   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400
   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400
   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400

In [10]:
import pandas as pd
import numpy as np
technologies= ({
    'Courses':["SPARK","PYSPARK","HADOOP","PANDAS"],
    'Fee' :['22000','25000','24000','26000'],
    'Duration':['30days','50days','40days','60days'],
    'Discount':['1000','2300','2500','1400']
              })
df = pd.DataFrame(technologies)
# print(df)
df['Courses']=df['Courses'].str.lower()
df

   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400

In [14]:
import pandas as pd
import numpy as np
technologies= ({
    'Courses':["SPARK","PYSPARK","HADOOP","PANDAS"],
    'Fee' :['22000','25000','24000','26000'],
    'Duration':['30days','50days','40days','60days'],
    'Discount':['1000','2300','2500','1400']
              })
df = pd.DataFrame(technologies)
df['Courses'] = df['Courses'].str.upper()
df

   Courses    Fee Duration Discount
0    SPARK  22000   30days     1000
1  PYSPARK  25000   50days     2300
2   HADOOP  24000   40days     2500
3   PANDAS  26000   60days     1400

In [26]:
import pandas as pd
import numpy as np
technologies= ({
    'Courses':["SPARK","PYSPARK","HADOOP","PANDAS"],
    'Fee' :['22000','25000','24000','26000'],
    'Duration':['30days','50days','40days','60days'],
    'Discount':['1000','2300','2500','1400']
              })
df = pd.DataFrame(technologies)
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)
df

   Courses    Fee Duration Discount
0    SPARK  22000   30days     1000
1  PYSPARK  25000   50days     2300
2   HADOOP  24000   40days     2500
3   PANDAS  26000   60days     1400

In [34]:
import pandas as pd
import numpy as np
technologies= ({
    'Courses':["SPARK","PYSPARK","HADOOP","PANDAS"],
    'Fee' :['22000','25000','24000','26000'],
    'Duration':['30days','50days','40days','60days'],
    'Discount':['1000','2300','2500','1400']
              })
df = pd.DataFrame(technologies)
# r strip
df = df.apply(lambda x: x.str.rstrip() if x.dtype == "object" else x)
df

   Courses    Fee Duration Discount
0    SPARK  22000   30days     1000
1  PYSPARK  25000   50days     2300
2   HADOOP  24000   40days     2500
3   PANDAS  26000   60days     1400

In [35]:
import pandas as pd
import numpy as np
technologies= ({
    'Courses':["SPARK","PYSPARK","HADOOP","PANDAS"],
    'Fee' :['22000','25000','24000','26000'],
    'Duration':['30days','50days','40days','60days'],
    'Discount':['1000','2300','2500','1400']
              })
df = pd.DataFrame(technologies)
# l strip
df = df.apply(lambda x: x.str.lstrip() if x.dtype == "object" else x)
df

   Courses    Fee Duration Discount
0    SPARK  22000   30days     1000
1  PYSPARK  25000   50days     2300
2   HADOOP  24000   40days     2500
3   PANDAS  26000   60days     1400

In [28]:
import pandas as pd
import numpy as np
technologies= ({
    'Courses':["SPARK","PYSPARK","HADOOP","PANDAS"],
    'Fee' :['22000','25000','24000','26000'],
    'Duration':['30days','50days','40days','60days'],
    'Discount':['1000','2300','2500','1400']
              })
df = pd.DataFrame(technologies)
df = df.applymap(lambda x: x.split() if isinstance(x,str) else x)
df

     Courses      Fee  Duration Discount
0    [SPARK]  [22000]  [30days]   [1000]
1  [PYSPARK]  [25000]  [50days]   [2300]
2   [HADOOP]  [24000]  [40days]   [2500]
3   [PANDAS]  [26000]  [60days]   [1400]

In [37]:
import pandas as pd
import numpy as np
technologies= ({
    'Courses':["SPARK","PYSPARK","HADOOP","PANDAS"],
    'Fee' :['22000','25000','24000','26000'],
    'Duration':['30days','50days','40days','60days'],
    'Discount':['1000','2300','2500','1400']
              })
df = pd.DataFrame(technologies)
df = df.applymap(lambda x: x.contains() if x.dtype == "object" else x)
df

AttributeError: 'str' object has no attribute 'dtype'

In [3]:
import numpy as np
import pandas as pd
s = pd.Series(["this is my new pen",
               "https://www.w3resource.com/pandas/index.php",
               np.nan])
s

0                             this is my new pen
1    https://www.w3resource.com/pandas/index.php
2                                            NaN
dtype: object

In [5]:
s.str.contains('a')

0    False
1     True
2      NaN
dtype: object

In [6]:
s.str.replace('a','')

0                           this is my new pen
1    https://www.w3resource.com/pnds/index.php
2                                          NaN
dtype: object

In [7]:
s.str.startswith('t')

0     True
1    False
2      NaN
dtype: object

In [8]:
s.str.endswith('a')

0    False
1    False
2      NaN
dtype: object

In [9]:
s.str.cat(sep='_')

'this is my new pen_https://www.w3resource.com/pandas/index.php'

In [10]:
s.str.get("this")

0   NaN
1   NaN
2   NaN
dtype: float64

In [11]:
s.str.slice()

0                             this is my new pen
1    https://www.w3resource.com/pandas/index.php
2                                            NaN
dtype: object

In [12]:
s.str.find('w')

0    13.0
1     8.0
2     NaN
dtype: float64